.dark {
    .line {
        background: linear-gradient(105deg, #4a88e7 3.66%, #d9ddea 36.06%, #5993ef 67.46%);
    }

    .circle {
        background-color: #5993ef;
    }

    .boxText h1 {
        color: #fff;
    }

    .boxText h2 {
        background: linear-gradient(105deg, #4a88e7 3.66%, #d9ddea 36.06%, #5993ef 67.46%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .textAbout {
        color: #fff;
    }    
}

.secSobreMim{
    height: auto !important;
    min-height: 100vh !important;
}

.secSobreMim {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 240px;
}

.boxText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boxText h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
}

.boxText h1 {
    color: #fff;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
}

.boxForms {
    display: flex;
    gap: 12px;
}

.boxMan {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 60px;

}

.textAbout {
    max-width: 700px;
    font-size: 24px;
    font-weight: 400;
}

.line {
    width: 480px;
    height: 10px;
    border-radius: 10px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.slides{
    width: 100%;
}